{% extends 'base.html.twig' %}

{% block title %}Verify new email!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<header>
    <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a> 
    <a class="cta" href="{{ path('app_logout') }}"> <button class="button-62" role="button"> Se reconnecter </button> </a> 
</header>

<div class="example-wrapper">
    <p> Un lien de vérification a été envoyez à votre nouvelle adresse, veuillez la confirmer. </p>
</div>
{% endblock %}
