{% extends 'base.html.twig' %}

{% block title %}Quizz {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
     <ul>
        {% for reponse in arrayReponse %}
            <li>{{ reponse[0].question }}</li>
            {% for item in reponse[1] %}
                <input type="radio" id="" name="{{reponse[0].id}}" value=""  />
                <label for="">{{item.reponse}}</label>
                </br>
            {% endfor %}
        {% endfor %}
    </ul>
    <button>Resultat</button>
</div>
{% endblock %}
